<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Enviar parâmetros do HTTP Request GET - URL</title>
</head>
<body>
<h1>Enviar parâmetros do HTTP Request GET - URL</h1>
<ul>
    <li>
        <a th:href="@{/params/string(texto='Olá Thiago')}">/params/string?texto=Olá Thiago</a>
    </li>
    <li>
        <a th:href="@{/params/string(texto='Como vai Thiago')}">/params/string?texto=Como vai Thiago</a>
    </li>
    <li>
        <a th:href="@{/params/mix-params(saudacao='Como vai Thiago', numero=27)}">/params/string?saudacao=Como vai Thiago&numero=27</a>
    </li>
    <li>
        <a th:href="@{/params/mix-params-request(saudacao='Como vai Thiago', numero=27)}">/params/string?saudacao=Como vai Thiago&numero=27</a>
    </li>
</ul>
</body>
</html>