<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1 class="vermelho" th:text="${titulo}"></h1>
    <h2 class="azul">Aplicando estilos CSS com recursos estáticos</h2>
<img th:src="@{/images/Screenshot_4.png}"/>
</body>
</html>