<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${titulo}"></title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>
<div th:if="${usuarios.isEmpty()}">Não há usuários na lista!</div>

<table th:if="${!usuarios.isEmpty()}">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="usuario: ${usuarios}">
            <td th:text="${usuario.nome}"></td>
            <td th:text="${usuario.sobrenome}"></td>
            <td th:text="${usuario.email}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>