<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <span th:text="${usuario.nome}"></span>
    <span th:text="${usuario.sobrenome}"></span><br>
    <span th:if="${usuario.email}" th:text="${usuario.email}"></span>
    <span th:if="${usuario.email == null}">O usuário não tem e-mail</span>
</body>
</html>