<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Receber parâmetros do HTTP Request GET - URL</title>
</head>
<body>
<h1>Receber parâmetros do HTTP Request GET - URL</h1>
<div th:text="${resultado}"></div>
</body>
</html>